<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsy.whateverpaysdk">

    <application>
        <activity android:name=".WhatEverPayActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
    </application>

</manifest>